<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="password-validator-input">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        
        <paper-input label="Password" type="password" value="{{password1}}"></paper-input>
        <paper-input label="Confirm password" type="password" value="{{password2}}"></paper-input>

    </template>
    <script>
        Polymer({
            is: 'password-validator-input',
            properties: {
                passwordOk: {
                    type: Boolean,
                    value: false,
                    notify: true,
                },
                len: {
                    type: Number,
                    value: 6,
                },
                password1: String,
                password2: String
            },

            observers:["passwordsChange(password1,password2)"],

            passwordsChange: function(password1,password2){
                if (this.confirmLength(password1) && this.confirmLength(password2) && this.comparePassword(password1,password2))
                    this.passwordOk=true;
                else
                    this.passwordOk=false;
            },

            confirmLength: function(component) {
                if (component.length<this.len)
                    return false;
                return true;
            },

            comparePassword: function(password1,password2) {
                if (password1 === password2)
                    return true;
                return false;
            }
            
        });
    </script>
</dom-module>
